.light1
    display: flex
    justify-content: center
    height: 100vh
    background: linear-gradient(to right, #f6ff95, #FFFFFF)
    width: 100%
.light2
    display: flex
    justify-content: center
    height: 100vh
    background: linear-gradient(to right, #FFFFFF, #e2e2e2)
    width: 100%
.dark1
    display: flex
    justify-content: center
    height: 100vh
    background: linear-gradient(to right, #388E3C, #f6ff95)
    width: 100%
.dark2
    display: flex
    justify-content: center
    height: 100vh
    background: linear-gradient(to right, #757575,#BDBDBD)
    width: 100%

.containerSection
    display: grid
    align-items: center
    justify-content: center
