.left
    display: grid
    grid-template-columns: repeat(5, 1fr)
    position: fixed
    left: 0px
    writing-mode: vertical-rl
    align-items: center

.top
    display: grid
    grid-template-columns: repeat(5, 1fr)
    position: fixed
    align-items: center
    top: 0px

.link
    padding: 10px
    text-decoration: none
